// variables
@import './variables.scss';

// theme export
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: $theme-primary, // The primary color of your application
  accent: $theme-contrast, // The accent or secondary color
  theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

// shared
@import './shared.scss';

// partials 
@import './partials/about';
@import './partials/banner';
@import './partials/contact';
@import './partials/editor';
@import './partials/footer';
@import './partials/root-header';