// colors
$theme-primary: #13630D;
$theme-secondary: #fff;
$theme-border: #dcdcdc;
$theme-contrast: #60C964; 
$theme-dark: #222622;

// headings 
$font-h1: 2.4em;
$font-h2: 1.8em;
$font-h3: 1.404em;
$font-h4: 1.344em;
$font-h5: 0.996em;
$font-h6: 0.9em;

// alignment
$align-center: center;
$align-left: left;
$align-right: right;

// paddings
$padding-xs: 0.25em;
$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 1.5em;
$padding-xl: 2.25em;

// margins
$margin-xs: 0.25em;
$margin-sm: 0.5em;
$margin-md: 1em;
$margin-lg: 1.5em;
$margin-xl: 2.25em;

// space 
$space-xs: 0.25em;
$space-sm: 0.5em;
$space-md: 1em;
$space-lg: 1.5em;
$space-xl: 2.25em;