@import '../shared.scss';

.footer {
  width: 100%;
  .footer-text {
    font-size: $font-h4*0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    i {
      padding-right: $padding-sm;
    }
  }
}