@import '../shared.scss';

.md-app {
  height: 100%;
  border: 1px solid rgba(#000, .12);
}
.md-drawer {
  width: 240px;
  max-width: calc(100vw - 125px);
}
.inner-container {
  min-height: 480px;
  padding: 0px;
}
.menu-title {
  font-size: $font-h2;
}
md-app-toolbar {
  height: 66px;
}
.md-list-item-text {
  font-size: $font-h4;
}